/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.min-h-dyn {
		min-height: 100dvh;
	}
	.h-dyn-screen {
		height: 100dvh;
	}

	.w-dyn-screen {
		width: 100dvw;
	}
}

html,
body {
	@apply dark:bg-black dark:text-white w-dyn-screen min-h-fit;
}

.section {
	@apply flex flex-col items-center justify-center w-full h-dyn-screen;
}